@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

/*---------Header---------*/

header {
    align-items: center;
    background-color: #710c04;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    margin-bottom: 2em;
}

.logoYNombre {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    justify-content: space-evenly;
}

.bigote {
    height: 100%;
}

h1 {
    text-align: center;
    color: white;
}

.barraNavegadora {
    width: 50%;
}

.barraNavegadora ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

header a {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s;
    padding: 1px;
}

header a:hover {
    border-radius: 5px;
    background-color: #b61105;
}

header a:active {
    background-color: #8e1209;
}

.active {
    font-weight: 800;
}

.numCarrito {
    display: inline-block;
    border-radius: 50%;
    color: #710c04;
    background-color: white;
    width: 26px;
    height: 26px;
    text-align: center;

    line-height: 29px;
}

/*---------Main Inicio---------*/

body {
    background-color: lightgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fotoEpica {
    background-image: url(../img/front-view-burger-with-veggies-and-meat.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 4em;
    padding: 1em;
    text-align: center;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.botonPrincipal{
    background-color: #710c04;
    color: white;
    font-size: 1.15em;
    padding: 0.2em;
    border-radius: 10px;
}

.botonPrincipal:hover {
    background-color: #500802;
    color: lightgray;
    cursor: pointer;
}

.wsp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
}


/*---------Main Menú---------*/

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
}

.info {
    text-align: center;
}

.contenedor h2 {
    font-size: 2em;
}

.divTarjetas {
    display: flex;
    margin-block: 4em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tarjetas{
    border: 1px black solid;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #710c04;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px #888888;
    color: white;
    margin-bottom: 10em;
}

.imgTarjeta {
    width: 100%;
}

.tituloTarjeta {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
}

.descripcion {
    text-align: center;
    padding: 1em;
}

.precio {
    margin-top: 0.2em;
    font-size: 2em;
}

.botonTarjeta {
    font-size: 1.5em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-block: 1em;
    padding: 0.2em;
}

.botonTarjeta:hover {
    cursor: pointer;
    background-color: #272727;
}

.random {
    width: 20%;
    margin-top: 4em;
    margin-bottom: 1em;
}

.modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.211);
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;

    z-index: 2  ;
}

.tarjetasRandom{
    border: 1px black solid;
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #710c04;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.botonNoGracias {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    margin-bottom: 2em;
    font-size: 1.25em;
}

.botonNoGracias:hover {
    cursor: pointer;
}

.container-active {
    visibility: visible;
    opacity: 1;
}

.botonPedido {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2.2em;
    transition: all .3s ease-in-out;

    visibility: hidden;
    opacity: 0;

    z-index: 1;
}

.botonTotal {
    font-size: 1.5em;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-block: 1em;
    padding: 0.6em;
}

.botonTotal:hover {
    cursor: pointer;
    background-color: #272727;
}

/*---------Pedido---------*/

.tuPedido{
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
}

.subtitulo{
    text-align: center;
}

.paginaPedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 3em;
}

.containerTarjetasPedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
    padding-top: 10em;
}

.tarjetaPedido {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 10vh;
    /* margin: 1em 5em 2em 5em; */
    font-size: 1.3em;
    border-bottom: black 1px solid;
}

.imgPedido {
    height: 70%;
}

.cantidad {
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cantidad p{
    line-height: 35px;
}

.agregarORestar {
    width: 30%;
    text-align: center;
    font-size: 1.2em;
    color: white;
    background-color: #710c04;
    border: white;
}

.agregarORestar:hover{
    cursor: pointer;
    background-color: #b61105;
}

.eliminar {
    background-color: #e93c3c;
    width: 30px;
    height: 30px;
    padding: 0.3em;
    margin-right: 0.7em;
    border: black 1px solid;
}

.eliminar img{
    width: 100%;
}

.eliminar:hover {
    cursor: pointer;
    background-color: #c92d2d;
}

.eliminar:active {
    background-color: #881409;
}

.finalizarPedido{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
}

.botonFinalizarPedido{
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 2em;
    padding: 0.5em;
}

.botonFinalizarPedido:hover{
    cursor: pointer;
    background-color: #272727;
}

.tarjetaFinalizarPedido{
    border: 1px black solid;
    width: 34%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.tarjetaFinalizarPedido div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1em;
    text-align: center;
}

.pedidoAceptado{
    color: green;
}

.porito{
    width: 50%;
}

.pedidoVacio{
    color: rgb(226, 23, 23);
}

.blitzy{
    width: 35%;
}

/*---------Footer---------*/

footer {
    height: 10vh;
    width: 100%;
    background-color: #710c04;
    margin-top: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-top: 1em;
    margin-top: 0.1em;
}

/*---------Media Queries---------*/
@media screen and (max-width:850px) {
    .bigote{
        height: 70%;
        width: 70%;
        margin-left: 100px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px) {

    /*---------Header---------*/

    .logoYNombre{
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 35%;
        padding: 0.3em;
    }

    .bigote {
        margin: 0;
        height: 75%;
        width: 45%;
    }

    h1 {
        text-align: center;
        font-size: 0.7em;
    }

    .barraNavegadora {
        font-size: 0.8em;
        width: 65%;
    }

    /*---------Main Index---------*/

    .fotoEpica {
        font-size: 1.8em;
    }

    .frase {
        text-align: center;
    }

    .botones {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .botonPrincipal {
        font-size: 1.7em;
    }
    .boton1 {
        margin-bottom: 1em;
    }

    .wsp {
        width: 40px;
    }

    .wsp:hover {
        cursor: pointer;
    }

    /*---------Main Menu---------*/

    .contenedor {
        padding-top: 7em;
    }

    .contenedor h2 {
        font-size: 1.7em;
        padding-inline: 1em;
        text-align: center;
    }

    .divTarjetas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .tarjetas {
        margin-bottom: 5em;
        width: 70%;
    }

    .descripcion {
        padding: 0.5em;
    }

    .botonTarjeta {
        border-radius: 12px;
        font-size: 1.7em;
        width: 90%;
        margin-block: 0.2em;
    }

    .botonTarjeta:hover {
        background-color: black;
    }

    .tarjetasRandom {
        width: 80%;
    }

    /*---------Main Pedido---------*/

    .tarjetaPedido{
        width: 100%;
        margin-inline: 0.5em;
        font-size: 0.8em;
    }

    .imgPedido {
        height: 70%;
        margin-left: 1em;
    }

    .cantidad{
        width: 20%;
        font-size: 1.2em;
        line-height: 20px;
    }

    .agregarORestar{
        line-height: 22px;
    }

    .agregarORestar:hover{
        background-color: #710c04;
    }

    .eliminar{
        padding-bottom: 0;
    }

    .tarjetaFinalizarPedido{
        width: 100%;
    }

    .tarjetaFinalizarPedido div {
        font-size: 1.2em;
        margin-inline: 0.3em;
    }

    #volverAlInicio{
        width: 100%;
    }
}

@media screen and (max-width: 406px) {

    h1 {
        font-size: 1em;
    }

    .fotoEpica {
        font-size: 1.5em;
    }

}